<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EclipseCompanionModelLibrary.Properties.Settings.EclipseCompanionConnectionString"
            connectionString="Data Source=DESKTOP-154TGV7;Initial Catalog=EclipseCompanion;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>